<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../common/head'); %>
	</head>
	<body class="container">
		<header><%- include('../common/header'); %></header>

		<main style="margin-bottom: 100px">
			<div style="margin-top: 30px" class="row">
				<% products.forEach(function(product) { %>
				<div style="margin-top: 30px" class="col-md-4">
					<div class="card" style="width: 18rem">
						<img src="<%= product.image %>" style="height: 200px" class="card-img-top" alt="..." />
						<div class="card-body">
							<h5 class="card-title"><%= product.dataValues.title %></h5>
							<p class="card-text"><%= product.dataValues.description %></p>
							<h6 class="card-title">RS: <%= product.dataValues.price %></h6>
							<a href="/products/<%=product.id%>" class="btn btn-primary">View Product</a>
						</div>
					</div>
				</div>
				<%})%>
			</div>
		</main>

		<footer
			style="
				position: fixed;
				left: 0;
				bottom: 0;
				width: 100%;
				background-color: #efefef;
				color: #fff;
				text-align: center;
			"
		>
			<%- include('../common/footer'); %>
		</footer>
	</body>
</html>
