<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../common/head'); %>
		<script src="https://js.stripe.com/v3/"></script>
	</head>
	<body class="container">
		<header><%- include('../common/header'); %></header>

		<main style="margin-bottom: 100; margin-left: 10%">
			<div style="margin: 30px 20px 100px" class="row">
				<div style="margin-top: 30px" class="col-md-4">
					<div class="card" style="width: 50rem; text-align: center">
						<img src="<%=product.image%>" class="card-img-top" alt="..." />
						<div class="card-body">
							<h5 class="card-title"><%= product.title %></h5>
							<p class="card-text"><%= product.description %></p>
							<h6>RS: <%= product.price %></h6>
							<button id="btn" class="btn btn-primary">Buy now</button>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer
			style="
				position: fixed;
				left: 0;
				bottom: 0;
				width: 100%;
				background-color: #efefef;
				color: #fff;
				text-align: center;
			"
		>
			<%- include('../common/footer'); %>
		</footer>
	</body>
	<script>
		console.log("hello world");
		var price = "<%-product.price %>";
		var title = "<%-product.title %>";
		var image = "<%-product.image %>";
		var pId = "<%-product.id %>";

		var stripe = Stripe(
			"pk_test_51IWQUwH8oljXErmdg6L4MhsuB6tDdmumlHFfyNaopty2U27pmRcqMX1c868zn838lGQtU1eYV6bKRSQtMFWf36VT00aNsvnTOE"
		);
		var checkoutButton = document.getElementById("btn");

		checkoutButton.addEventListener("click", function () {
			console.log("btn clicked");
			fetch("/stripe/payment", {
				headers: {
					"Content-Type": "application/json",
				},
				method: "POST",
				body: JSON.stringify({
					product: {
						name: title,
						image: image,
						amount: price * 100,
						quantity: 1,
						pId: pId,
					},
				}),
			})
				.then(function (response) {
					return response.json();
				})
				.then(function (session) {
					return stripe.redirectToCheckout({ sessionId: session.id });
				})
				.then(function (result) {
					if (result.error) {
						alert(result.error.message);
					}
				})
				.catch(function (error) {
					console.error("Error:", error);
				});
		});
	</script>
</html>
